ExampleClient/Service References/ServiceReference1/Sales.wsdl

<?xml version="1.0" encoding="utf-8"?>

<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
                  xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/contract/Sales"
                  xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org/contract/Sales"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/contract/Sales/Imports">
      <xsd:import schemaLocation="http://localhost:4341/Sales.svc?xsd=xsd2"
                  namespace="http://tempuri.org/contract/Sales" />
      <xsd:import schemaLocation="http://localhost:4341/Sales.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4341/Sales.svc?xsd=xsd1"
                  namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4341/Sales.svc?xsd=xsd3"
                  namespace="http://schemas.datacontract.org/2004/07/Starbucks.Messages" />
      <xsd:import schemaLocation="http://localhost:4341/Sales.svc?xsd=xsd4"
                  namespace="http://schemas.datacontract.org/2004/07/Starbucks" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Sales_NotifyCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:NotifyCustomer" />
  </wsdl:message>
  <wsdl:message name="Sales_NotifyCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:NotifyCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="Sales_OrderDrink_InputMessage">
    <wsdl:part name="parameters" element="tns:OrderDrink" />
  </wsdl:message>
  <wsdl:message name="Sales_OrderDrink_OutputMessage">
    <wsdl:part name="parameters" element="tns:OrderDrinkResponse" />
  </wsdl:message>
  <wsdl:message name="Sales_Pay_InputMessage">
    <wsdl:part name="parameters" element="tns:Pay" />
  </wsdl:message>
  <wsdl:message name="Sales_Pay_OutputMessage">
    <wsdl:part name="parameters" element="tns:PayResponse" />
  </wsdl:message>
  <wsdl:message name="Sales_PrepareDrink_InputMessage">
    <wsdl:part name="parameters" element="tns:PrepareDrink" />
  </wsdl:message>
  <wsdl:message name="Sales_PrepareDrink_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrepareDrinkResponse" />
  </wsdl:message>
  <wsdl:portType name="Sales">
    <wsdl:operation name="NotifyCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/contract/Sales/NotifyCustomer"
                  message="tns:Sales_NotifyCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/contract/Sales/NotifyCustomer"
                   message="tns:Sales_NotifyCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OrderDrink">
      <wsdl:input wsaw:Action="http://tempuri.org/contract/Sales/OrderDrink"
                  message="tns:Sales_OrderDrink_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/contract/Sales/OrderDrink"
                   message="tns:Sales_OrderDrink_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Pay">
      <wsdl:input wsaw:Action="http://tempuri.org/contract/Sales/Pay" message="tns:Sales_Pay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/contract/Sales/Pay" message="tns:Sales_Pay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PrepareDrink">
      <wsdl:input wsaw:Action="http://tempuri.org/contract/Sales/PrepareDrink"
                  message="tns:Sales_PrepareDrink_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/contract/Sales/PrepareDrink"
                   message="tns:Sales_PrepareDrink_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>