ExampleClient/Service References/ServiceReference1/Sales3.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:tns="http://tempuri.org/contract/Sales" elementFormDefault="qualified"
           targetNamespace="http://tempuri.org/contract/Sales" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4341/Sales.svc?xsd=xsd3"
             namespace="http://schemas.datacontract.org/2004/07/Starbucks.Messages" />
  <xs:element name="NotifyCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Starbucks.Messages" minOccurs="0"
                    name="NotifyCustomer" nillable="true" type="q1:NotifyCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyCustomerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderDrink">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Starbucks.Messages" minOccurs="0"
                    name="OrderDrink" nillable="true" type="q2:OrderDrink" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderDrinkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Pay">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Starbucks.Messages" minOccurs="0" name="Pay"
                    nillable="true" type="q3:Pay" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PrepareDrink">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Starbucks.Messages" minOccurs="0"
                    name="PrepareDrink" nillable="true" type="q4:PrepareDrink" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrepareDrinkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>